--extra-index-url https://download.pytorch.org/whl/cu124
pybind11
diffusers
einops
opencv-python-headless
numpy
torch
transformers
torchvision
tqdm
trimesh
pymeshlab
pygltflib
xatlas
accelerate
rembg
onnxruntime

meshlib
hf_xet